<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Admin Login</title>
  <link rel="stylesheet" href="../static/style.css">
</head>
<body class="admin-login-page">
  <div class="container">
    <h2>Admin Login</h2>
    <form method="POST" action="/admin">
      <input type="email" name="email" placeholder="Enter Admin Email" required>
      <input type="password" name="password" placeholder="Enter Password" required>
      <button type="submit">Login</button>
    </form>
    <p><a href="{{ url_for('login') }}">Back to User Login</a></p>
  </div>
  <script src="../static/script.js"></script>
</body>
</html>
