<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FindMyStuff – Login</title>
   <link rel="stylesheet" href="../static/style.css">
</head>

<body class="login-page">


  <div class="login-container">
    <h1>🔑 User Login</h1>

    <form action="/" method="POST">
      <input type="email" name="email" placeholder="Enter Email" required>
      <input type="password" name="password" placeholder="Enter Password" required>
      <button type="submit">Login</button>
    </form>

    <p>Don’t have an account? <a href="/signup">Sign Up</a></p>
    <p>Admin? <a href="/admin">Login here</a></p>



  </div>
<script src="../static/script.js"></script>
</body>
</html>
